* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
} 

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 15px;
}

.main-container {
    width: 100%;
    height: 100%;
    background: black;
    padding: 100px;
    padding-top: 50px;
    width: calc(100vw - 200px);
    height: calc(100vh - 100px);
}

.human {
    color: rgb(255, 221, 170); /* Light Peach */
}

.elf {
    color: rgb(173, 255, 47); /* Green Yellow */
}

.dwarf {
    color: rgb(218, 165, 32); /* Goldenrod */
}

.orc {
    color: rgb(255, 69, 0); /* Red Orange */
}

.gnome {
    color: rgb(255, 192, 203); /* Pink */
}

.halfling {
    color: rgb(245, 222, 179); /* Wheat */
}

.dragonborn {
    color: rgb(255, 140, 0); /* Dark Orange */
}

.tiefling {
    color: rgb(178, 34, 34); /* Fire Brick */
}

.half-elf {
    color: rgb(240, 230, 140); /* Khaki */
}

.half-orc {
    color: rgb(210, 105, 30); /* Chocolate */
}

.undead {
    color: rgb(112, 128, 144); /* Slate Gray */
}

.fairy {
    color: rgb(127, 255, 0); /* Chartreuse */
}

.centaur {
    color: rgb(210, 180, 140); /* Tan */
}

.celestial {
    color: rgb(255, 250, 205); /* Lemon Chiffon */
}

.demon {
    color: rgb(255, 0, 0); /* Red */
}

.pixie {
    color: rgb(173, 216, 230); /* Light Blue */
}

.satyr {
    color: rgb(160, 82, 45); /* Sienna */
}

.angel {
    color: rgb(255, 255, 204); /* Pale Yellow */
}

.dryad {
    color: rgb(144, 238, 144); /* Light Green */
}

#health {
    background-color: black;
    border-radius: 0;
    width: 700px;
    border: 2px solid white;
}

#health::-webkit-progress-value {
    background-color: red;
    transition : width .5s ease;
}

#health::-webkit-progress-bar {
    background-color: black;
}

#mana {
    background-color: black;
    border-radius: 0;
    width: 700px;
    border: 2px solid white;
}

#mana::-webkit-progress-value {
    background-color: rgb(76, 204, 255);
    transition : width .5s ease;
}

#mana::-webkit-progress-bar {
    background-color: black;
}

#stamina {
    background-color: black;
    border-radius: 0;
    width: 700px;
    border: 2px solid white;
}

#stamina::-webkit-progress-value {
    background-color: rgb(187, 153, 0);
    transition : width .5s ease;
}

#stamina::-webkit-progress-bar {
    background-color: black;
}

#xp {
    background-color: black;
    border-radius: 0;
    width: 700px;
    border: 2px solid white;
}

#xp::-webkit-progress-value {
    background-color: #0099ff;
    transition : width .5s ease;
}

#xp::-webkit-progress-bar {
    background-color: black;
}

.stats-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    grid-template-rows: auto;
    align-items: center;
}

.status-container {

}

.player-status-container {
    display: grid;
    grid-template-columns: .5fr auto;
}

.map {
    border: 4px solid white;
    margin-left: 20px;
    position: relative;
    grid-column: 2;
}

.bar {
    width: max-content;
}

.inventory-container {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.inventory {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 214px;
    gap: 10px;
    width: 750px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.item-container {
    height: 71px;
    width: 71px;
    outline: 2px solid white;
    justify-content: center;
    align-items: center;
    align-self: center;
}

button {
    background: black;
    color: white;
    border: 2px solid white;
    margin: 10px;
    padding: 10px 20px;
    transition: 0.2s ease;
    font-size: 20px;
}

.name {
    position: relative;
}


button:first-child {
    margin-left: 0;
}

button:last-child {
    margin-right: 0;
}

#select-location {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.disable-True {
    color: grey!important;
    cursor: not-allowed!important;
    border: 2px solid grey!important;
    background-color: black!important;
}

#descbox {
    border: 2px solid white;
    width: max-content;
    height: max-content;
    position: absolute;
    background-color: black;
    padding: 10px 15px;
    visibility: hidden;
    z-index: 99999;
    overflow-wrap: break-word;
    max-width: 8vw;
}

svg {
    user-select: none;
}



.encounters {
    border: 2px solid white;
    height: 40%;
    margin-top: 20px;
    position: relative;
}

.description {
    text-align: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

#distancee {
    color: grey;
}

#dd {
    color: rgb(53, 255, 53);
}


.endlink {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999999;
}

.r {
    color: red;
}

#r {
    color: red;
}

.g {
    color: rgb(53, 255, 53);
}

.levelup {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999999999999;
}

.encounters {
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#nnn {
    overflow-wrap: break-word;
    overflow: hidden;
}

.location {
    text-align: right;
    position: relative;
    display: flex;
}

#levl {
    text-align: right;
    flex: 1;
    text-align: right;
    white-space: nowrap;
    float: right;
}